PORT=5000
NODE_ENV=development
DATABASE_URL=
JWT_SECRET=

eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiJjN2I2ZTJlNC01MjkzLTQwODEtOTZlZi01ZjExNmVhNTZjN2IiLCJyb2xlIjoidGVhY2hlciIsImlhdCI6MTc4MzAwNDg2NSwiZXhwIjoxNzgzNjA5NjY1fQ.4pDCesxCK2nWU4ZRqpH9LmyywJ6IAaIYHpsF2PSNMN4

4d292666-d75c-47bb-a66b-1950d6bd717a

eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiIxMDUyNjM1Zi04ZWIxLTRlMTgtODY3OC01NmRjY2E0ZDgzOWQiLCJyb2xlIjoidGVhY2hlciIsImlhdCI6MTc4MzAwODMxNSwiZXhwIjoxNzgzNjEzMTE1fQ.0HpPjp6-tx3plYqSa2DS-YpctLtJ7PFIgOgn1ciSsdY

"email": "teacher100@test.com",
  "password": "password123",

id : 1052635f-8eb1-4e18-8678-56dcca4d839d

bb9cc74a-52b7-48f3-b2f6-003e63c12e32

eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiI4ZWZiYjlhZS1hMmU3LTQwNGYtYjNjYi0wNWRkZjdjOWQ1NDYiLCJyb2xlIjoic3R1ZGVudCIsImlhdCI6MTc4MzA5NDAzOCwiZXhwIjoxNzgzNjk4ODM4fQ.iza1ERT5kLCBVaij4IUOCsjIv3e0lriBBwUsL5nrai0

da681c55-efa1-44f4-90ec-e23214f0720a